**/node_modules
**/dist
**/dist-ssr
**/src/generated
**/.env
**/.env.*
!**/.env.example
**/*.tsbuildinfo
**/*.log
**/coverage
.git
.gitignore
.vscode
.idea
.DS_Store
package-lock.json
**/package-lock.json
docker-compose*
